<div>
  <blockquote id="user"><strong>Me:</strong><br>
  <%= @question %></blockquote>

  <% if @question.present? && @question.is_a?(String) %>
  <%  if @question == "I am going to work" %>
  <%    @answer = "Great!" %>
  <%  end %>
  <%  if @question.end_with?("?", "%3F") %>
  <%    @answer = "Silly question, get dressed and go to work!" %>
  <%  end %>
  <% end %>

  <blockquote id="coach"><strong>Coach:</strong><br>
  <%= @answer %></blockquote>

  <p><%= link_to "Ask a new question", ask_path %></p>
</div>
